<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% include partials/navbar %>
    
    <h1>Admin Dashboard</h1>
<p>Welcome, <%= user.name %></p>

<a href="/products" class="btn btn-primary">View All Products</a>
<a href="/admin/product/add" class="btn btn-success">Add Product</a>


</body>
</html>