
<% include partials/navbar %>
<h2>Add Product</h2>

<% if (message) { %>
    <div class="alert alert-<%= messageType %>"><%= message %></div>
<% } %>

<form action="/admin/product/add" method="POST">

    <input type="text" name="name" placeholder="Product Name" class="form-control mb-2">

    <input type="number" name="price" placeholder="Price" class="form-control mb-2">

    <textarea name="description" placeholder="Description" class="form-control mb-2"></textarea>

    <input type="text" name="image" placeholder="Image URL" class="form-control mb-2">

    <button class="btn btn-success">Add Product</button>
</form>

